<span *ngIf="statusAction" class="mess">Action completed !</span>
<span *ngIf = "isLoading">Loading...</span>
<form [formGroup]="taskForm" (ngSubmit)="save()">
    <p>
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description" required>
        <span class="error" *ngIf="description.invalid && (description.dirty || description.touched) && description.errors?.['required']">
            Description is required.
        </span>
    </p>
    <p *ngIf="!isNew">
        <label for="assigneeId">Assignee: </label>
        <select id="assigneeId" formControlName="assigneeId">
            <option *ngFor="let u of users|async" [value]="u.id">{{u.name}}</option>
        </select>
    </p>
    <p *ngIf="!isNew">
        <label for="completed">Completed: </label>
        <input id="completed" type="checkbox" formControlName="completed">
    </p>
    <button type="submit" [disabled]="!taskForm.valid">
        {{isNew ? 'Create' : 'Update'}}
    </button>
</form>